sanic>=22.3.2
sanic-ext>=22.3.2
sqlalchemy>=1.4.36
aioredis>=2.0.1
aiomysql>=0.1.1
pydantic>=1.9.1
Jinja2>=3.1.2
PyNaCl>=1.5.0
Pillow>=9.1.1
qrcode>=7.3.1
captcha>=0.4
asynccasbin>=1.1.8
casbin_sqlalchemy_adapter>=0.4.2
jsonnet>=0.18.0

