<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="purecss.min.css"/>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="vue.global.prod.js"></script>
    <!--  必须使用 qrcode.js 不能使用 qrcode.min.js 否则会溢出错误  -->
    <script type="text/javascript" src="qrcode.js"></script>
    <title>初始化</title>
</head>
<body>
<div id="app" class="pure-g"
     style="width: 960px; position: absolute; margin: auto; left: 0; top: 0; right: 0; bottom: 0;">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <a href="javascript:void(0);" class="pure-menu-heading pure-menu-link" @click="step=0">数据库</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected':step==1}">
                    <a href="javascript:void(0);" class="pure-menu-link" @click="step=1">系统管理员账号</a>
                </li>
            </ul>
        </div>
        <form class="pure-form pure-form-stacked">
            <div v-if="step==0"><!-- 提交页面 -->
                <fieldset>
                    <legend><h2>保存</h2></legend>
                    <div class="pure-g">
                        <div class="pure-u-1-4">
                            <a class="pure-button pure-button-primary" @click="initialize()"
                               v-bind:class="{'pure-button-disabled':statusInit.ing>0}">已完成设置，进行初始化！</a>
                        </div>
                        <div class="pure-u-1-4">
                            <a class="pure-button">建立数据表</a>
                        </div>
                    </div>

                    <span class="pure-form-message" v-if="statusInit.ing>0" v-text="statusInit.msg"></span>
                </fieldset>
                <div v-if="statusInit.log.length>0">
                    <pre style="border: #565d64 1px solid"><code v-text="statusInit.log"></code></pre>
                </div>
            </div>

            <div v-if="step==1"><!-- 系统管理员 -->
                <fieldset>
                    <legend><h2>系统管理员</h2></legend>
                    <label for="login-name">LOGIN NAME</label>
                    <input class="pure-input-1" type="text" id="login-name" name="login-name" placeholder="系统管理员登录名"
                           v-model="modelAdmin.loginName"/>
                    <label for="password">PASSWORD</label>
                    <input class="pure-input-1" type="password" id="password" name="password" placeholder="系统管理员密码"
                           v-model="modelAdmin.password"/>
                    <a class="pure-button" @click="generateToken()"
                       v-if="modelAdmin.token.length==0">生成时间令牌</a>
                    <div v-show="modelAdmin.token.length>0">
                        <label for="token">TOTP TOKEN</label>
                        <div id="qrcode" style="padding: 20px;"></div>
                        <label for="token">如果无法扫描二维码，请使用下方的密钥：</label>
                        <input class="pure-input-1" type="text" id="token" name="token" placeholder="时间令牌" readonly=""
                               :value="modelAdmin.token"/>
                        <a class="pure-button pure-button-primary" @click="saveAdmin()">保存</a>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    function randomAuth() {
        const base32table = "ABCDEFGHIJKLMNOPQRSTUVWXYZ234567"
        let rb = new Uint8Array(16)
        crypto.getRandomValues(rb)
        const buffer = []
        for (let i = 0; i < rb.length; i++) {
            const idx = rb[i] % base32table.length
            buffer.push(base32table[idx])
        }
        const auth = buffer.join('').toLowerCase()
        buffer.splice(12, 0, ' ')
        buffer.splice(8, 0, ' ')
        buffer.splice(4, 0, ' ')
        const show = buffer.join('').toLowerCase()
        return {auth: auth, show: show}
    }

    function makeAuthQRCode(auth, username, imgId) {
        const url = 'otpauth://totp/starpath:' + username +
            '?algorithm=SHA1&digits=6&period=30&issuer=温州信通&secret=' + auth
        new QRCode(document.getElementById(imgId), {
            text: url,
            width: 256,
            height: 256,
            render: 'table',
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H,
        })
    }

    const {createApp, reactive, toRefs, onMounted} = Vue
    const data = reactive({
        step: 0,
        statusInit: {
            ing: 0,
            msg: '正在初始化，请稍后...',
            log: '',
        },
        modelAdmin: {
            loginName: 'admin',
            password: '',
            token: '',
            tokenQRCode: '',
        },
    })
    const app = createApp({
        setup() {
            onMounted(() => {
            })

            function generateToken() {
                // $.post({
                //     url: '/api/token', data: data.modelAdmin.loginName
                // }).then(function (result) {
                //     data.modelAdmin.token = result['token']
                //     data.modelAdmin.tokenQRCode = result['qrcode']
                // }).catch(function (err) {
                //     console.error(err)
                // })
                const {auth, show} = randomAuth()
                data.modelAdmin.token = show
                makeAuthQRCode(auth, data.modelAdmin.loginName, 'qrcode')
            }

            function initialize() {
                data.statusInit.ing = 1
                const toPost = {
                    mysql: data.modelMysql,
                    admin: data.modelAdmin,
                    http: data.modelHttp,
                }
                delete toPost.admin.tokenQRCode
                toPost.admin.token = toPost.admin.token.replace(' ', '')

                $.post({
                    url: '/api/initialization', data: JSON.stringify(toPost),
                }).then(function (result) {
                    console.log(result)
                    data.statusInit.log = result['logs']
                    if (result['code'] === 0) {
                        data.statusInit.msg = '初始化成功！请重启服务。'
                    } else {
                        data.statusInit.msg = result['message']
                    }
                }).catch(function (err) {
                    console.error(err)
                    alert(err)
                })
            }

            return {
                generateToken,
                initialize,
                ...toRefs(data)
            }
        }
    });
    app.mount("#app");
</script>
</html>