<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="purecss.min.css"/>
    <script src="jquery.min.js"></script>
    <script src="vue.global.prod.js"></script>
    <title>初始化</title>
</head>
<body>
<div id="app" class="pure-g"
     style="width: 960px; position: absolute; margin: auto; left: 0; top: 0; right: 0; bottom: 0;">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <a href="javascript:void(0);" class="pure-menu-heading pure-menu-link" @click="step=0">初始化</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected':step==2}">
                    <a href="javascript:void(0);" class="pure-menu-link" @click="step=2">系统管理员账号</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected':step==3}">
                    <a href="javascript:void(0);" class="pure-menu-link" @click="step=3">HTTP服务</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected':step==4}">
                    <a href="javascript:void(0);" class="pure-menu-link" @click="step=4">Redis</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected':step==5}">
                    <a href="javascript:void(0);" class="pure-menu-link" @click="step=5">MongoDB</a>
                </li>
            </ul>
        </div>
        <form class="pure-form pure-form-stacked">
            <div v-if="step==0"><!-- 提交页面 -->
                <fieldset>
                    <legend><h2>保存</h2></legend>
                    <div class="pure-g">
                        <div class="pure-u-1-4">
                            <a class="pure-button pure-button-primary" @click="initialize()"
                               v-bind:class="{'pure-button-disabled':statusInit.ing>0}">已完成设置，进行初始化！</a>
                        </div>
                        <div class="pure-u-1-4">
                            <a class="pure-button">仅建立数据表</a>
                        </div>
                    </div>

                    <span class="pure-form-message" v-if="statusInit.ing>0" v-text="statusInit.msg"></span>
                </fieldset>
                <div v-if="statusInit.log.length>0">
                    <pre style="border: #565d64 1px solid"><code v-text="statusInit.log"></code></pre>
                </div>
            </div>

            <div v-if="step==1"><!-- 系统管理员 -->
                <fieldset>
                    <legend><h2>系统管理员</h2></legend>
                    <label for="login-name">LOGIN NAME</label>
                    <input class="pure-input-1" type="text" id="login-name" name="login-name" placeholder="系统管理员登录名"
                           v-model="modelAdmin.loginName"/>
                    <label for="password">PASSWORD</label>
                    <input class="pure-input-1" type="password" id="password" name="password" placeholder="系统管理员密码"
                           v-model="modelAdmin.password"/>
                    <a class="pure-button" @click="generateToken()"
                       v-if="modelAdmin.token.length==0||modelAdmin.tokenQRCode.length==0">生成时间令牌</a>
                    <div v-if="modelAdmin.token.length>0&&modelAdmin.tokenQRCode.length>0">
                        <label for="token">TOTP TOKEN</label>
                        <input class="pure-input-1" type="text" id="token" name="token" placeholder="时间令牌" readonly=""
                               :value="modelAdmin.token"/>
                        <img :src="modelAdmin.tokenQRCode"/>
                    </div>
                </fieldset>
            </div>

            <div v-if="step==3"><!-- http服务 -->
                <fieldset>
                    <legend><h2>HTTP 服务</h2></legend>
                    <label for="http-host">HOST</label>
                    <input class="pure-input-1" type="text" id="http-host" name="http-host" placeholder="HTTP服务监听地址"
                           v-model="modelHttp.host"/>
                    <label for="http-port">PORT</label>
                    <input class="pure-input-1" type="text" id="http-port" name="http-port" placeholder="HTTP服务监听端口"
                           v-model="modelHttp.port"/>
                    <label for="http-secret-random" class="pure-checkbox">
                        <input type="checkbox" id="http-secret-random" v-model="modelHttp.randomSecret"/>使用随机密钥
                    </label>
                    <div v-show="!modelHttp.randomSecret">
                        <label for="http-secret">SECRET(HEX)</label>
                        <input class="pure-input-1" type="text" id="http-secret" name="http-secret"
                               placeholder="HTTP内置密钥"
                               v-model="modelHttp.secretHex"/>
                    </div>
                </fieldset>
            </div>

            <div v-if="step==4">
                <legend><h2>Redis</h2></legend>
                <span>模块开发中</span>
            </div>

            <div v-if="step==5">
                <legend><h2>MongoDB</h2></legend>
                <span>模块开发中</span>
            </div>

        </form>
    </div>
</div>
</body>
<script>
    const {createApp, reactive, toRefs, onMounted} = Vue;
    const data = reactive({
        step: 1,
        statusInit: {
            ing: 0,
            msg: '正在初始化，请稍后...',
            log: '',
        },
        modelMysql: {
            host: 'localhost',
            port: 3306,
            username: '',
            password: '',
            database: '',
            createDatabase: false,
            opsUsername: '',
            opsUsernameIP: '%',
            opsPassword: '',
        },
        modelAdmin: {
            loginName: 'admin',
            password: '',
            token: '',
            tokenQRCode: '',
        },
        modelHttp: {
            host: '0.0.0.0',
            port: 8999,
            randomSecret: true,
            secretHex: '',
        },
    })
    const app = createApp({
        setup() {
            onMounted(() => {
            })

            function generateToken() {
                $.post({
                    url: '/api/token', data: data.modelAdmin.loginName
                }).then(function (result) {
                    data.modelAdmin.token = result['token']
                    data.modelAdmin.tokenQRCode = result['qrcode']
                }).catch(function (err) {
                    console.error(err)
                })
            }

            function initialize() {
                data.statusInit.ing = 1
                const toPost = {
                    mysql: data.modelMysql,
                    admin: data.modelAdmin,
                    http: data.modelHttp,
                }
                delete toPost.admin.tokenQRCode
                toPost.admin.token = toPost.admin.token.replace(' ', '')

                $.post({
                    url: '/api/initialization', data: JSON.stringify(toPost),
                }).then(function (result) {
                    console.log(result)
                    data.statusInit.log = result['logs']
                    if (result['code'] === 0) {
                        data.statusInit.msg = '初始化成功！请重启服务。'
                    } else {
                        data.statusInit.msg = result['message']
                    }
                }).catch(function (err) {
                    console.error(err)
                    alert(err)
                })
            }

            return {
                generateToken,
                initialize,
                ...toRefs(data)
            }
        }
    });
    app.mount("#app");
</script>
</html>