{% extends "__base__/__frame__.html" %}
{% block title %}验证{% endblock %}
{% block body %}
    <div class="box">
        <h2>请输入验证码</h2>
        <form method="post" action="login.php">
            <div class="input-box">
                <input type="text" id="capt" name="capt" required="required" autocomplete="off"/>
                <label for="capt">验证码</label>
                <img width="160px" height="60px" alt="captcha" title="更新验证码请刷新" src="{{ url }}"/>
            </div>
            <input type="submit" name="" value="继续"/>
        </form>
    </div>
{% endblock %}